.search-bar{
    margin:2rem;
    display:flex;
}

.search-container,.search-term{
    display: flex;
    flex: 1 1 300px;
    overflow: hidden;
    width: 327px;
    height: 50px;
    margin-left:-40px;
    background: #FFFFFF;
    box-shadow: 0px 24px 24px rgba(0, 0, 0, 0.02);
    border-radius: 26px;
    border: #FFFFFF;
}

.search-term{
    flex-wrap: wrap;
    margin-left: 12px;
    align-content: center;
    opacity: 0.5;
    font-size: 15px;
    line-height: 127.7%;
    color: #AFAFAF;
    outline: none;
   
}

.search-icon {
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat left;
    align-items: center;
    margin-left: 9px;
  }

  .search-button{
    background: #F86549;
    width: 52px;
    height: 52px;
    margin-left: 9px; 
    border-radius: 50%;
    border: white;
  }

  .search-button-style{
    color: #FFFFFF;
    width: 20px;
    height: 20px;
    cursor:pointer; 
  }

