.container{
  display: flex;
  width:100%;
  flex-direction: row;
  justify-content: space-around;
  background: #E5E5E5;
  /* margin: 0 auto -155px; the bottom margin is the negative value of the footer's height */
}

.left-container{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.right-container{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}